/**********************************************************************************
    Global
***********************************************************************************/
* {
    font-family:"Courier New", Courier, monospace;
    color: gray;
    text-align: center;
}

a { 
    color: gray;
}

/**********************************************************************************
    TEXT
***********************************************************************************/
.text-sm { font-size: 15px;}
.text-md {font-size: 20px;}
.text-lg { font-size: 25px;}
.text-bold {font-weight: bold;}

@media (max-width: 600px) {
    .text-sm { font-size: 8px;}
    .text-md {font-size: 10px;}
    .text-lg { font-size: 15px;}
}

/**********************************************************************************
    Spacing
***********************************************************************************/
.p2 {  
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.content-spread {
    display: flex;
    justify-content: space-between;
}

/* Stick to bottom and center */
.content-stick-bottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:0;
}

/**********************************************************************************
    Images
***********************************************************************************/
.img-sm { 
    width:35px;
    height:auto;
}

.img-lg { 
    width:100px;
    height:auto;
}

.img-xl {
    width:250px;
    height:auto;
}

.img-gray {
    filter: grayscale(100%);
    opacity: 0.5;
}

@media (max-width: 600px) {
    .img-sm { 
        width:20px;
        height:auto;
    }

    .img-lg { 
        width:70px;
        height:auto;
    }

    .img-xl {
        width:150px;
        height:auto;
    }
    
}


/**********************************************************************************
    Hidden View
***********************************************************************************/

/* Only shows the element on large screens (>= 600px) */
.show-lg{
    display:block;
}

/* Only shows the element on small screens */
.show-sm{
    display:none;
}

@media screen and (max-width: 600px) {
    .show-lg{
        display:none;
    }

    .show-sm{
        display:block;
    }

}